@model IEnumerable<string>
@{
    ViewBag.Title = "Error";
}

<div class="alert alert-success">

            <strong>Success!</strong>
            <ul>
                @foreach (string success in Model)
                {
                    <li>@success</li>
                }
            </ul>


</div>

@Html.ActionLink("OK", "Index", null, new { @class="btn btn-default"})
